// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$Viewports : (
	// Phone viewports
		'phone': 0,
		'iphone-4': 320px,
		'iphone-6':375px,
		'nexus-6':412px,
	// Tablet viewports
		'tablet' : 600px,
		'ipad-P' : 768px,
		'ipad-L' : 1024px,
		'ipad-C' : 1100px,
		'ipad-D' : 1200px,
	// Desktop viewports
		'desktop' : 1150px,
		'Laptop' : 1366px,
		'Laptop-1440' : 1440px,
		'Desktop' : 1600px,
		'FHD' : 1920px,
		'2k' : 2560px,
		'4k' : 3840px
) !default;

$Viewport-Expressions : (
		'screen': 'screen',
		'print': 'print',
		'handheld': 'handheld',
		'landscape': '(orientation: landscape)',
		'portrait': '(orientation: portrait)',
		'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
		'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------

$C-Primary: #38322f;
$C-Primary-D: #38322f;
$C-Primary-L: #f0eee8;

$C-Secondary: #ff0f00;
$C-Secondary-D: darken($C-Secondary, 10%);
$C-Secondary-L: lighten($C-Secondary, 10%);

// Old shit
$Color-Paragraph-Text : #111;
$Color-Text : #111;
$Color-First-Header : #38322f;
$Color-Brown : #38322f;
$Color-Brown-Light: #f0eee8;
$Color-Header-Text : #36404b;
$Color-Footer-Bg : #36404b;
$Color-Footer-Text : #ecf0f1;
$Color-Copyright-Bg : #17202a;
$Color-Text-Red : #ff0f00;
$Color-Head-Red : #ff0f00;
$Color-Bg-Red : #ff0f00;
$Color-Bg-Secondary : #ecf0f1;
$Color-Input-Bg : #f5f9fa;



// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img : '../img/';
$Folder-Fonts : '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------
