.Arena
{
    @extend %Control-Right;
    padding-bottom: 35px;

    @at-root .Arena-Description
    {

        margin-bottom: 20px;

        @include Adaptive('>tablet')
        {
            margin-bottom: 50px;
        }

        @include Adaptive('>=ipad-P')
        {
            padding: 25px;
            border:  2px solid #f0eee8;
        }

        p
        {
            display:        inline-block;
            vertical-align: top;

            @include Adaptive('<ipad-P')
            {
                padding:        0 25px;
                padding-bottom: 20px;
            }
            @include Adaptive('>=desktop')
            {
                max-width: 535px;
            }
        }

        > img
        {
            display:    none;
            max-width:  100%;
            width:      100%;
            margin-top: 50px;

            @include Adaptive('>=desktop')
            {
                display:    block;
                margin-top: 10px;
                width:      250px;
                margin-top: 0;
                float:      right;
            }

        }
    }
    @at-root .Arena-Hits
    {
        h2
        {
            @extend %Unclickable;
            @extend %Unselectable;
            @extend %H2-Special;
            text-align: center;
        }

    }
    @at-root .Arena-Menu
    {
        text-align: center;
        @include Adaptive('>=desktop')
        {
            padding-left: 27px;
            text-align:   initial;
            li + li
            {
                margin-left: 37px;
            }
        }

        li
        {
            margin-bottom: 10px;
        }

        li + li
        {
            margin-left: 15px;
        }

        li
        {
            @extend %Font-Medium;
            @extend %Uppercase;
            font-size: 16rem;
            color:     $Color-Text;
            display:   inline-block;
        }

        li:nth-of-type(1) svg
        {
            width:  50px;
            height: 50px;
        }

        li:nth-of-type(2) svg
        {
            width:  40px;
            height: 40px;
        }

        li:nth-of-type(3) svg
        {
            width:  50px;
            height: 50px;
        }

        li:nth-of-type(4) svg
        {
            width:  37px;
            height: 37px;
        }

        li:nth-of-type(5) svg
        {
            width:  37px;
            height: 37px;
        }

        svg
        {
            vertical-align: middle;
            fill:           $Color-Bg-Red;
            margin-right:   20px;
        }

    }
}