.Basket
{
    @extend %Control-Right;
    nav
    {
        @extend %H2-Special;
        @extend %H2-Brake;
        @extend %Font-Medium;
        margin-bottom: 20px;
    }
    > div
    {
        @extend %Line-Top-Dark;
        @extend %Line-Bottom-Dark;
        background:    $Color-Bg-Secondary;
        padding:       0 0 20px;
        margin-bottom: 20px;

        @include Adaptive('>=tablet')
        {
            border:  none;
            padding: 0 0 20px;
        }
    }
    select
    {
        display: none;
    }
    svg
    {
        cursor:  pointer;
        fill:    #979fa0;
        z-index: 1;
        &:hover
        {
            fill: $Color-Text;
        }
        &:active
        {
            fill: $Color-Bg-Red;
        }

    }
    @at-root .Basket-Head, .Basket-Row
    {
        position: relative;
        width:    100%;
        @include Adaptive(">=tablet")
        {
            display: table;
        }

        @at-root .Basket-Head
        {
            @include Adaptive(">=tablet")
            {
                padding: 12px 60px 12px 30px;
            }
        }
        @at-root .Basket-Row
        {
            @include Adaptive(">=tablet")
            {
                padding: 17px 60px 8px 30px;
            }
        }


        li
        {
            display: block;
            @include Adaptive(">=tablet")
            {
                display:        table-cell;
                vertical-align: middle;
                width:          20%;
                padding:        0 1%;
            }

            @include Adaptive(">=desktop")
            {
                padding: 0;
            }

            &:nth-of-type(3)
            {
                @include Adaptive(">=tablet")
                {
                    text-align:    center;
                    position:      relative;
                    padding-right: 16px;
                }
                span
                {
                    position:  relative;
                    display:   inline-block;
                    width:     80px;
                    font-size: 14rem;
                    cursor:    pointer;
                    text-decoration: underline;

                    input
                    {
                        padding-left: 10px;
                        width:        40px;
                        text-align:   center;
                        background:   none;
                        border:       none;
                    }
                }
                svg
                {
                    position: absolute;
                    width:    25px;
                    height:   25px;
                    fill:     $Color-Text;
                    top:      1px;
                    right:    0;
                    &:active
                    {
                        fill: $Color-Bg-Red;
                    }
                }

            }
            > div
            {
                display:    inline-block;
                width:      160px;
                height:     100px;
                background: url(/img/pic/catalog-view.jpg) center/cover no-repeat;
                @include Adaptive('>tablet')
                {
                    width:      130px;
                }
            }

        }
    }
    @at-root .Basket-Head
    {
        @extend %Line-Bottom-Dark;
        display: none;
        li:first-of-type
        {
            min-width: 140px;
        }

    }
    @at-root .Basket-Row
    {
        @extend %Font-Medium;
        @extend %Line-Bottom-Dark;
        text-align: center;
        padding:    10px;
        @include Adaptive('>=tablet')
        {
            text-align:     initial;
            padding-bottom: 12px;
        }

        p
        {
            @extend %Font-Regular;
            margin: 0;
            @include Adaptive('>=tablet')
            {
                display: none;
            }
        }

        > li:last-of-type
        {
            position: absolute;
            width:    16px;
            height:   16px;
            top:      5px;
            right:    20px;
            @include Adaptive(">=tablet")
            {
                right: 30px;
                top:   calc(50% - 8px);
            }
            svg
            {
                width:  16px;
                height: 16px;
            }

        }

        @at-root .Basket-Price,.Basket-Summery,.Basket-Overall
        {
            color: $Color-Text-Red;
        }
    }

    @at-root .Basket-Bottom
    {
        overflow: hidden;
        padding:  10px;

        @include Adaptive('>=tablet')
        {
            width:   400px;
            padding: 0;
            margin:  20px auto 0;
        }


        @include Adaptive('>=desktop')
        {
            width:  47%;
            margin: 20px 30px 0 auto;
        }

        p
        {
            @extend %Font-Medium;
            font-size: 18rem;
            margin:    15px 0;
            @include Adaptive('>=tablet')
            {
                margin: 0 0 15px;
            }

        }

        @at-root .Basket-Overall
        {
            float:     right;
            font-size: 20rem;
        }

        a
        {
            display:    inline-block;
            text-align: center;

            @extend %Button-Wide-Red;
            &:hover
            {
                @extend %Transition-Std;
                background: $Color-Text;
                color:      white;
            }
        }

    }

}