.Catalog
{
    @extend %Control-Right;
    @at-root .Catalog-Items
    {
        padding:    34px 0;
        text-align: center;
        .Hit
        {
            display:        inline-block;
            margin:         15px;
            padding-bottom: 20px;
        }
    }

    @at-root .Catalog-Mark
    {
        font-size:     0;
        text-align:    center;
        margin-bottom: 30px;

        @at-root .Catalog-Feature
        {

            display:        inline-block;
            width:          210px;
            margin:         20px 35px;
            vertical-align: top;
            h3
            {
                @extend %Font-Medium;
            }

            @at-root .Feature-View
            {
                width:         100%;
                height:        150px;
                margin-bottom: 20px;
                background:    url("/img/pic/feature-1.jpg") no-repeat center / cover;
            }
        }
    }

    > section
    {
        margin-bottom: 35px;
    }

    h1
    {
        @extend %Font-Light;
        font-size:      36px;
        margin-bottom:  20px;
        letter-spacing: 1px;
    }
    h2
    {
        font-size:  18rem;
        padding:    16px 0;
        text-align: center;
        display:    block;
        background: $Color-Brown-Light;
    }
    h2, h3
    {
        @extend %Font-Regular;
        text-transform: none;
    }
    nav
    {
        @extend %H2-Brake;
        display: table;
        width:   100%;
        padding: 0 0 15px 0;

        @at-root .Catalog-Logo
        {
            display:        table-cell;
            vertical-align: middle;
            width:          57px;
            div
            {
                background: url("/img/pic/logo-dodge.png") no-repeat center / cover;
                width:      43px;
                height:     48px;
            }
        }
        ul
        {
            display:        table-cell;
            vertical-align: middle;
        }

        li
        {
            display:     inline;
            line-height: 28rem;
        }
        a
        {
            font-size: 18rem;
            color:     $Color-Text;
            &.Active
            {
                color: $Color-Text-Red;
                @extend %Font-Medium;
            }
        }

    }

    @at-root .Catalog-Item
    {
        font-size: 0;
        padding:   25px;
        @include Adaptive('>ipad-D')
        {
            padding: 0;
        }

        h2
        {
            margin-bottom: 20px;
        }

        @at-root .Catalog-View
        {
            width: 100%;

            @include Adaptive('>=tablet')
            {
                width:          48%;
                display:        inline-block;
                vertical-align: top;
            }

            .View-Image, .JS-Hover-Image
            {
                cursor:  pointer;
            }
        }
    }

    @at-root .Catalog-Delivery
    {
        margin: 50px 0;
        h2
        {
            text-align: left;
            padding:    2px 10px 0;
            .Active
            {
                background: white;
                display:    inline-block;
            }
        }

        a
        {
            display:    inline-block;
            color:      $Color-Text;
            padding:    15px 20px;
            border:     none;
            background: none;
            cursor:     pointer;
        }

        p
        {
            font-size:      14rem;
            line-height:    19rem;
            padding-bottom: 10px;
        }

        .Active
        {
            display: block;
        }

        div > div
        {
            @extend %Control-Base;
            padding:    25px;
            border-top: none;
            display:    none;
        }
    }
}
