.Category-List
{
    text-align:    center;
    padding:       0 0 20px;
    margin-bottom: 40px;
    margin-top:    40px;
    border-top:    5px solid $Color-Brown-Light;
    border-bottom: 5px solid $Color-Brown-Light;

    @at-root  .Category-Item
    {
        display: inline-block;

        padding: 15px;

        @at-root .Category-Item-Title
        {
            display:   inline-block;
            font-size: 16px;
            color:     black;
        }
        @at-root .Category-Item-Image
        {
            display:    block;
            text-align: center;

            margin:     0 auto;
        }
    }
}

.Category-Header
{
    @extend %Font-Light;
    font-size:      36px;
    margin-bottom:  20px;
    letter-spacing: 1px;
    margin-left:    28px;
    @include Adaptive('>=desktop')
    {
        margin-left: 0;
    }
}

.Category-Description
{
    margin: 0 20px 0 28px;
    @include Adaptive('>=desktop')
    {
        margin: 0;
    }
    p
    {
        margin-bottom: 20px;
    }

    img
    {
        max-width: 100%;
    }

    h2
    {
        margin-top:    40px;
        margin-bottom: 20px;
        @extend %Font-Light;
    }
}
