.Company
{
    font-size:     0;
    margin-bottom: 30px;
    @extend %Control-Right;
    h3
    {
        display: inline;
        & + p
        {
            display: inline;
        }
    }
    h5, h6
    {
        display:      inline;
        margin-right: 2px;
    }
    h3 + p, h5 + p, h6 + p
    {
        display: inline;
        &:after
        {
            content:        "";
            display:        block;
            padding-bottom: 10px;
        }
    }
    @at-root .Company-Images
    {
        @extend %Clearfix;
        font-size:     0;
        text-align:    center;
        margin-bottom: 11px;


        img
        {
            float:   left;
            display: block;
            width:   100%;
            height:  50vw;

            margin:  10px 1% 10px 1%;

            @include Adaptive('>=nexus-6')
            {

                width:  48%;
                height: 30vw;

            }

            @include Adaptive('>=tablet')
            {

                width:  31%;
                height: 19vw;

            }
            @include Adaptive('>=desktop')
            {
                height: 170px;
            }

        }

    }
}