.Static .Contacts-Wrapper{
	padding: 0;
	background: none;
}

@at-root .Contacts
{
	padding-bottom : 50px;
	@extend %Control-Right;
	font-size      : 0;
	nav
	{
		@extend %H2-Special;
		@extend %H2-Brake;
		@extend %Font-Medium;
		margin-bottom : 20px;
	}

	> p
	{
		margin-bottom : 7px;
	}

	@at-root .Contact-Info, .Contact-Form
	{
		padding : 20px 0;
		@include Adaptive('>=tablet')
		{
			display        : inline-block;
			width          : 50%;
			padding        : 5px 30px 25px;
			vertical-align : top;
		}

	}

	@at-root .Contact-Info
	{

		.Info-Row
		{
			display : table;
			width   : 100%;
			margin  : 0 0 20px;
			div
			{
				display        : table-cell;
				width          : 40px;
				vertical-align : top;
			}
			p
			{
				display        : table-cell;
				max-width      : 320px;
				line-height    : 19rem;
				margin-bottom  : 22px;
				vertical-align : top;

				span
				{
					display    : block;
					margin-top : 20px;
				}
			}
		}

		svg
		{
			width  : 22px;
			height : 22px;
			fill   : $Color-Bg-Red;
		}

		div:nth-of-type(2) svg
		{
			width  : 25px;
			height : 25px;
		}

		div:last-of-type p
		{
			font-size : 14rem;
		}

		a
		{
			color : $Color-Text;
		}

	}
	@at-root .Contact-Form
	{

		input
		{
			@extend %Control-Input;
			margin-bottom : 20px;
			transition    : border linear .2s;
			&:focus
			{
				transition : border linear .2s;
				border     : 1px solid $Color-Bg-Red;
			}
		}

		textarea
		{
			@extend %Control-Textarea;
			margin-bottom : 20px;
			transition    : border linear .2s;
			&:focus
			{
				transition : border linear .2s;
				border     : 1px solid $Color-Bg-Red;
			}
		}

		button
		{
			@extend %Button-Wide-Red;
		}

		@at-root .Contact-Map
		{
			margin-bottom : 25px;
		}
	}

}