.Feedbacks, .Gallery-Wrap
{
    background: none;

    nav
    {
        @extend %H2-Special;
        @extend %H2-Brake;
        @extend %Font-Medium;
        text-transform: none;
        font-size:      16rem;
        margin-bottom:  30px;

        li
        {
            display: inline-block;
        }
    }

    h4
    {
        @extend %Font-Medium;
        font-size:     14rem;
        line-height:   20rem;
        color:         $Color-Text-Red;
        margin-bottom: 20px;
    }

    @at-root .Feedback,.Gallery
    {
        @extend %Control-Base;
        padding:   30px;
        font-size: 0;

        @include Adaptive('>=tablet')
        {
            margin-bottom: 30px;
        }

        > div
        {

            @include Adaptive('>=tablet')
            {
                display:        inline-block;
                vertical-align: top;
            }
        }

    }
    @at-root .Feedback
    {
        @extend %Clearfix;
        p
        {
            font-size:      14rem;
            line-height:    19rem;
            padding-bottom: 15px;
        }

        > div + div
        {
            float: left;
            width: 100%;

            @include Adaptive('>=tablet')
            {
                width: 55%;
            }
        }

        > div:first-of-type
        {
            width: 100%;

            @include Adaptive('>=tablet')
            {
                float:        right;
                width:        45%;
                padding-left: 30px;
            }
        }
    }
    @at-root .Gallery
    {
        > div:first-of-type
        {
            @include Adaptive('>=tablet')
            {
                padding-right: 30px;
                width:         45%;
            }
        }

        > div + div
        {
            width: 100%;

            @include Adaptive('>=tablet')
            {
                width: 55%;
            }
        }

        p
        {
            font-size:   14rem;
            line-height: 19rem;
        }
    }
}

