.Form-Address
{
    font-size: 0;
    padding:   10px 10px 40px;
    @include Adaptive('>desktop')
    {
        padding: 0;
    }

    @at-root .Form-Control
    {
        display:        inline-block;
        width:          50%;
        padding-right:  10px;
        padding-bottom: 20px;

        label
        {
            display:        block;
            font-size:      16rem;
            padding-bottom: 10px;
        }

        input, textarea
        {
            @extend %Control-Input;
            width: 100%;
        }

        textarea
        {
            height:  100px;
            padding: 10px;
        }

        &:nth-of-type(2n)
        {
            padding-right: 0;
            padding-left:  10px;
        }

        &:last-of-type
        {
            width: 100%;
        }
    }

    input[type=submit]
    {
        @extend %Button-Wide-Red;
    }

}

