.News
{
	@extend %Control-Right;


	.Static{
		.New{
			p{
				padding-bottom: 27px;
			}
		}
	}
	@at-root .New
	{
		position  : relative;
		overflow  : hidden;
		font-size : 0;
		h4
		{
			font-size     : 16rem;
			margin-bottom : 12px;
		}

		div:first-of-type
		{
			margin-bottom : 20px;
			@include Adaptive('>=nexus-6')
			{

				width  : 70%;
				margin : 12px auto;

			}
			@include Adaptive('>=tablet')
			{

				width         : 35%;
				margin: 0;
			}
			@include Adaptive('>=desktop')
			{
				width  : 35%;
			}

			img
			{
				display : block;
				width   : 100%;
			}

		}

		div:last-of-type
		{
			@include Adaptive('>=nexus-6')
			{
				width : 100%;
			}
			@include Adaptive('>=tablet')
			{
				width        : 65%;
				padding-left : 30px;
			}

		}

		div
		{
			@include Adaptive('>=tablet')
			{
				display        : inline-block;
				vertical-align : top;
			}

		}

		@at-root .New-Date
		{
			@extend %Unclickable;
			position  : absolute;
			right     : 30px;
			bottom    : 25px;
			font-size : 12rem;
		}

	}

}