.Payment
{
    img
    {
        display:   none;
        margin:    15px auto 0;
        max-width: 100%;
        @include Adaptive('>=tablet')
        {
            display: block;
        }
    }
}

.Payments
{
    text-align: center;
    img
    {
        display:        inline-block;
        width:          33%;
        padding:        10px;
        vertical-align: middle;

        @include Adaptive('>tablet'){
            width:          16.6%;
        }
    }
}
