.Static
{
    h3
    {
        @extend %Font-Bold;
        font-size:   16rem;
        line-height: 20rem;
        color:       $Color-Text-Red;
    }
    h4
    {
        @extend %Font-Bold;
        font-size:     14rem;
        line-height:   20rem;
        color:         $Color-Text-Red;
        margin-bottom: 20px;
    }
    h5, h6
    {
        @extend %Font-Bold;
        color:     $Color-Text-Red;
        font-size: 14rem;
    }
    h5
    {
        position:     relative;
        padding-left: 15px;
    }

    h5:before
    {
        @extend %Form-Circle;
        content:        "";
        position:       absolute;
        display:        inline-block;
        width:          4px;
        height:         4px;
        left:           0;
        top:            5px;
        color:          inherit;
        background:     $Color-Bg-Red;
        vertical-align: middle;
    }
    h6:before
    {
        @extend %Form-Circle;
        content:        "";
        display:        inline-block;
        width:          4px;
        height:         4px;
        color:          inherit;
        margin:         0 10px;
        background:     $Color-Bg-Red;
        vertical-align: middle;
    }
    em
    {
        @extend %Font-Italic;
        font-size: 14rem;
        display:   inline-block;
    }
    p
    {
        font-size:      14rem;
        line-height:    19rem;
        padding-bottom: 15px;
    }

    > div
    {
        background:    $Color-Brown-Light;
        padding:       15px;
        margin-bottom: 20px;
        @include Adaptive('>=tablet')
        {
            padding: 25px 30px;
        }
    }
    div > ul
    {
        li
        {
            @extend %Uppercase;
            font-size: 14rem;
            &:before
            {
                @extend %Form-Circle;
                content:          '';
                display:          inline-block;
                vertical-align:   middle;
                width:            4px;
                height:           4px;
                margin:           0 16px 0 12px;
                background-color: $Color-Text;
            }
        }
    }
}

.Home-Payment
{
    .Hits-Header
    {
        margin-bottom: 20px;
    }

    p
    {
        padding-bottom: 20px;
    }

    ul
    {
        padding-bottom: 40px;
        li
        {
            @extend %Uppercase;
            font-size: 14rem;
            &:before
            {
                @extend %Form-Circle;
                content:          '';
                display:          inline-block;
                vertical-align:   middle;
                width:            4px;
                height:           4px;
                margin:           0 16px 0 12px;
                background-color: $Color-Text;
            }
        }
    }
    img
    {
        display:        block;
        margin:         0 auto;
        padding-bottom: 80px;
    }
}

nav.Breadcrumbs
{
    @extend %H2-Special;
    @extend %H2-Brake;
    @extend %Font-Medium;
    margin-bottom: 40px;
}