@font-face {
	font-family: 'BenPioneer-Bold';
	src: url('/fonts/BenPioneer-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/BenPioneer-Bold.woff') format('woff'), url('/fonts/BenPioneer-Bold.ttf')  format('truetype'),
	url('/fonts/BenPioneer-Bold.svg#BenPioneer-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Bold';
	src: url('/fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Exo2-Bold.woff') format('woff'),
	url('/fonts/Exo2-Bold.ttf')  format('truetype'),
	url('/fonts/Exo2-Bold.svg#Exo2-Bold') format('svg');
	font-weight: normal;
	font-style: normal; 
}
