// ----------
%Transition-Std
{
    transition: all .2s;
}

%Transition-Fast
{
    transition: all .1s;
}

%Transition-Fill
{
    transition: fill linear .2s;
}

// ----------
%Form-Circle
{
    border-radius: 50%;
}

%Form-Rounded
{
    border-radius: 5px;
}

%Font-Regular
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%Font-Italic
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style:  italic;
}

%Font-Bold
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

%Font-Medium
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

%Font-Light
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

%Font-Ben
{
    font-family: 'BenPioneer-Bold';
}

%Font-Exo
{
    font-family: 'Exo2-Bold';
}

// ----------
%Logo
{
    @extend %Uppercase;
    display:        inline-block;
    vertical-align: middle;

    small
    {
        @extend %Font-Exo;
        display:          block;
        background-color: #000;
        color:            #fff;
        text-align:       center;
        overflow:         hidden;
    }
}

// ----------
%Button-Base
{
    @extend %Font-Bold;
    @extend %Transition-Std;
    text-shadow: 0 2px 0 transparent;
    cursor:     pointer;
    background:  $Color-Brown-Light;
    color:      $Color-Text;
    border-radius: 4px;
    border:     none;
    border-bottom: 2px solid;
    border-bottom-color: darken( $Color-Brown-Light,10%);
    &:hover
    {
        @extend %Transition-Std;
        text-shadow: 0 2px 0 darken($Color-Bg-Red,10%);
        background: $Color-Bg-Red;
        border-bottom-color: darken($Color-Bg-Red, 10%);
        color:      #ecf0f1;
    }
}

%Button-Normal
{
    text-transform: uppercase;
    @extend %Button-Base;
    padding:        10px 38px;
}

%Button-Wide
{
    @extend %Button-Base;
    width:      100%;
    display:    block;
    text-align: center;
}

%Button-Wide-Red
{
    @extend %Uppercase;
    @extend %Transition-Std;
    width:      100%;
    font-size:  18rem;
    cursor:     pointer;
    background: $Color-Bg-Red;
    color:      #ecf0f1;
    padding:    12px;
    border:     none;
    border-bottom: 2px solid;
    border-bottom-color: darken($Color-Bg-Red,10%);
    border-radius: 4px;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2);
    &:hover
    {
        @extend %Transition-Std;
        background:  $Color-Brown;
        border-bottom-color: darken( $Color-Brown,10%);
        color:      #fff;
    }

}

%Unclickable
{
    cursor: default;
}

%Unselectable
{
    & *::selection
    {
        background-color: transparent;
    }
    &::selection
    {
        background-color: transparent;
    }

}

// ----------

%Control-Base-2
{
    border: 1px solid #777;
}

%Control-Base
{
    border: 2px solid $Color-Brown-Light;
}

%Control-Base-Dark
{
    border: 1px solid #979fa0;
}

%Line-Bottom-Dark
{
    border-bottom: 1px solid #979fa0;
}

%Line-Top-Dark
{
    border-top: 1px solid #979fa0;
}

%Input-Base
{
    @extend %Font-Italic;
    border:       1px solid $Color-Bg-Secondary;
    width:        100%;
    height:       32px;
    padding-left: 10px;
    color:        $Color-Text;
}

%Control-Input
{
    @extend %Input-Base;
    height:     38px;
    padding:    0 10px;
    box-sizing: border-box;
}

%Control-Textarea
{
    @extend %Input-Base;
    height:  150px;
    resize:  none;
    padding: 10px;
}

%Uppercase
{
    text-transform: uppercase;
}

%Width-Content-Padding
{
    @include Adaptive('>=desktop')
    {
        padding-left:  15px;
        padding-right: 15px;
    }
}

%Width-Content
{
    @extend %Width-Content-Padding;
    max-width: 1200px;
    margin:    0 auto;
}

%Width-Content-No-Padding
{
    max-width: 1200px;
    margin:    0 auto;
}

%H2-Special
{
    text-transform: none;
    background:     $Color-Brown-Light;
    padding:        15px 15px 15px 30px;
    a
    {
        color: $Color-Brown;
    }
    .Active
    {
        color: $Color-Text-Red;
    }

}

%H2-Brake
{
    li
    {
        display: inline-block;
    }
    li + li:before
    {
        @extend %Form-Circle;
        content:          '';
        display:          inline-block;
        vertical-align:   middle;
        width:            4px;
        height:           4px;
        margin:           0 9px 0 12px;
        background-color: $Color-Brown;
    }
}

%Control-Right
{
    @include Adaptive('>=desktop')
    {
        float: right;
        width: 900px;
    }
}

%Control-Right-Wide
{
    @include Adaptive('>=1000px')
    {
        float: right;
        width: 740px;
    }
}
