html
{
    font-size:  1px;
    min-width:  320px;
    overflow-x: hidden;
}

body
{
    font-family: 'Roboto';

}

input, textarea
{
    box-sizing: border-box;
}

input[type="checkbox"]
{
    margin: 0;
}

h1
{
}

h2, h3
{
    @extend %Uppercase;
    color: $Color-Header-Text;
}

h2
{
    @extend %Font-Bold;
    font-size: 20rem;
}

h3
{
    @extend %Font-Medium;
    font-size: 16rem;
}

p, li, dt, dd
{
    font-size:   16rem;
    line-height: 24rem;
    color:       $Color-Paragraph-Text;;
}

a
{
    text-decoration: none;
    color:           white;
}

dt, dd
{
}

button
{
    outline: none;
}

input:focus, textarea:focus, select:focus
{
    outline: none;
}

main
{
    @extend %Width-Content;
    @extend %Clearfix;
    padding-top: 20px;
    @include Adaptive('>tablet')
    {
        padding-top: 50px;
    }

    @include Adaptive('>=desktop')
    {
        $footer-height-1: 160px;
        $header-height-1: 148px;
        min-height: calc(100vh - #{$header-height-1 + $footer-height-1});
    }
}

.Right-Block
{
    @include Adaptive(">=1150px")
    {
        float: right;
        width: 900px;
    }
}

.Main-Sprite
{
    display:    none;
    visibility: hidden;
}

.JS-Form-Result
{
    font-size:  16px;
    padding:    20px 0;
    color:      #434d57;
    text-align: center;
}

.Message
{
    @extend %Font-Light;
    font-size:      36rem !important;
    margin-bottom:  20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Message-Info
{
    @extend %Font-Light;
    font-size:     24rem !important;
    margin-top:    30px;
    margin-bottom: 20px;
}

.Hidden
{
    visibility: hidden !important;
    width:      0 !important;
    height:     0 !important;
    padding:    0 !important;
    display:    inline !important;
}

.View-Image
{
    cursor: pointer;
}

.Page-Inner .Car-Tune
{
    display: none;
}

.Page-Inner main{
    padding-top: 40px;
}