.JS-Carousel
{
    position:   relative;
    margin:     0 auto;
    padding:    0;
    text-align: center;
    overflow:   hidden;

    @at-root .JS-Carousel-List
    {
        position:   relative;
        margin:     0 auto;
        padding:    0;
        text-align: center;
        list-style: none;

        @at-root .JS-Carousel-Item
        {
            position:   absolute !important;
            top:        0;
            left:       0;
            width:      100%;

            transition: 0.3s ease-in;
        }
    }

    @at-root .JS-Carousel-Next,.JS-Carousel-Previous
    {
        position:  absolute;
        cursor:    pointer;
        font-size: 30px;
        width:     40px;
        top:       calc(50% - 75px);
        fill:      #EEE;

        color:     #fff;
        &:hover
        {
            color:      #3498DB;
            transition: color 0.2s;
        }

        &.JS-Carousel-Previous
        {
            left: 40px;
        }

        &.JS-Carousel-Next
        {
            right: 40px;
        }

        @include Adaptive('>ipad-P')
        {
            &.JS-Carousel-Previous
            {
                left: 60px;
            }

            &.JS-Carousel-Next
            {
                right: 60px;
            }
        }
    }
}





