@at-root .Car-Tune
{

    height:    180px;
    margin:    0 auto;
    width:     100%;
    max-width: 1200px;

    @include Adaptive('>=tablet')
    {
        height: 300px;
    }

    @include Adaptive('>=desktop')
    {
        height:                     400px;
        background-position:        center;
        border-bottom-left-radius:  4px;
        border-bottom-right-radius: 4px;
    }

    svg
    {
        position: absolute;
        top:      calc(50% - 22px);
        width:    42px;
        height:   40px;
        z-index:  1;
        cursor:   pointer;
    }

    .JS-Carousel-Previous
    {
        left: 20px !important;
    }

    .JS-Carousel-Next
    {
        right: 20px !important;
    }

    .JS-Carousel-Item
    {
        background-size: cover;
    }

    a
    {
        position:    absolute;
        width:       100%;
        bottom:      0px;
        right:       0;
        left:        0;
        padding:     5px 30px;

        font-size:   18px;
        line-height: 32px;
        font-weight: 400;
        color:       white;
        box-shadow:  inset 0 -20px 51px black;

        @include Adaptive('>tablet')
        {
            box-shadow:       none;
            color:            black;
            background-color: #f0eee8;
            padding:          10px 30px;
            width:            auto;
            bottom:           20px;
            right:            20px;
            left:             auto;
            border-left:      5px solid $Color-Head-Red;
        }
    }
}
