@at-root .Catalog-Info
{

    @include Adaptive('>=tablet')
    {
        padding-left:   40px;
        display:        inline-block;
        vertical-align: top;
        width:          52%;
    }

    li
    {
        line-height: 19rem;
        &:before
        {
            content: "- ";
        }

    }

    p
    {
        font-size:     16rem;
        margin-bottom: 10px;
        @extend %Font-Regular;
    }

    @at-root .Catalog-Price
    {
        color:       $Color-Text-Red;
        margin-left: 4px;
    }
    dl
    {
        padding:   13px 0 0 0;
        font-size: 0;
        @include Adaptive('>=tablet')
        {
            padding: 13px 0 0 0;
        }
    }

    dt, dd
    {

        font-size: 14rem;

        @include Adaptive('>=320px')
        {
            display:        inline-block;
            vertical-align: top;
        }
    }

    dt
    {
        margin: 5px 0;
        width:  30%;
        @include Adaptive('>=tablet')
        {
            width: 45%;
        }
    }

    dd
    {

        position: relative;
        width:    70%;

        select
        {
            @extend %Control-Base;
            padding: 5px;
            width:   100%;
            cursor:  pointer;
        }
        @include Adaptive('>=tablet')
        {
            width: 55%;
        }
    }

    svg
    {
        position: absolute;
        top:      0;
        right:    1px;
        width:    28px;
        height:   28px;
        cursor:   pointer;
        z-index:  1;
    }

    @at-root .Catalog-Summery
    {
        @extend %Font-Medium;
        overflow:    hidden;
        width:       100%;
        line-height: 19rem;


        span:first-of-type
        {
            max-width: 150px;
            display:   inline-block;
        }

        span:last-of-type
        {
            float:      right;
            margin-top: 14px;
            font-size:  18rem;
            color:      $Color-Text-Red;
        }
    }

    .prod_price
    {
        font-size:   22rem;
        font-weight: 300;
        span
        {
            font-weight: 500;
        }
    }
}

.Catalog-Button
{
    @extend %Button-Wide-Red;

    width:      auto;
    display:    inline-block;
    margin-top: 20px;
}

