// -----------------------------------------------------------------------------------------------------------------
// Page Footer
// -----------------------------------------------------------------------------------------------------------------

footer
{
    border-top:  2px solid $Color-Brown-Light;
    margin:      auto;
    max-width:   1200px;
    padding-top: 22px;
    color:       $Color-Brown;
    li
    {
        font-size: 13rem;
    }

}

// ---------------------------------------------------------------------------------------------------------------------
// Footer's First row
// ---------------------------------------------------------------------------------------------------------------------

.Footer-Top
{
    @extend %Width-Content;
    font-size:      0;
    overflow:       hidden;
    padding-bottom: 40px;
    padding-top:    20px;

    @include Adaptive('>=desktop')
    {
        padding-left: 80px;
    }

    div
    {
        vertical-align: top;
        text-align:     center;
        @include Adaptive('>=ipad-P')
        {
            text-align: initial;
            display:    inline-block;
        }
    }

    ul
    {
        display: inline-block;

        @include Adaptive('<tablet')
        {
            width:   100%;
            display: block;
        }
    }

    a:hover
    {
        @extend %Transition-Fast;
        text-decoration: underline;
    }

}

// ----------------------------------------

.Footer-Left
{

    overflow: hidden;

    @include Adaptive('>=ipad-P')
    {
        max-width: 595px;
    }

    @include Adaptive('>=desktop')
    {
        width: 100%;
    }

    a
    {
        color:       $Color-Header-Text;
        line-height: 26rem;
    }
    ul
    {

    }

    ul + ul
    {
        @include Adaptive('>=tablet')
        {
            margin-left: 55px;
        }
    }

    @at-root .Footer-Logo
    {
        display: none;
        float:   right;
        @include Adaptive('>=desktop')
        {
            display: inline-block;
        }

        svg
        {
            vertical-align: middle;
            width:          239px;
            height:         70px;
        }
    }
}

// ----------------------------------------

.Footer-Right
{
    padding-top: 15px;
    margin:      0 auto;

    @include Adaptive('>=tablet')
    {
        max-width: 400px;
    }

    @include Adaptive('>=ipad-P')
    {
        margin:      0 0 0 30px;
        padding-top: 5px;
    }

    @include Adaptive('>=desktop')
    {
        max-width: 400px;
        float:     right;
        margin:    0;
    }

    div
    {
        position:       relative;
        vertical-align: top;
        padding-bottom: 15px;
        span
        {
            max-width: 168px;
        }
        @include Adaptive('>=nexus-6')
        {
            display: inline-block;

            &:nth-of-type(1n)
            {
                width: 55%;
                span
                {
                    max-width: 168px;
                }
            }
            &:nth-of-type(2n)
            {
                width: 45%;
                span
                {
                    max-width: 120px;
                }
            }
        }
        @include Adaptive('>=ipad-P')
        {

            &:nth-of-type(1n)
            {
                width: 57%;
                span
                {
                    max-width: 168px;
                }
            }
            &:nth-of-type(2n)
            {
                width: 43%;
                span
                {
                    max-width: 120px;
                }
            }
        }

    }

    a
    {
        color:   $Color-Brown;
        display: inline-block;

        &[href]
        {
            color: $Color-Header-Text;
        }
    }

    svg
    {
        display:        inline-block;
        vertical-align: top;
        fill:           $Color-Text-Red;
        height:         21px;
        width:          25px;
        margin:         -3px 10px 0 0;
    }

    span
    {
        display:        inline-block;
        font-size:      13rem;
        line-height:    18rem;
        vertical-align: top;
    }

    color
    {
        color:       $Color-Text-Red;
        font-weight: 700;
    }
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Footer's Second row
// ---------------------------------------------------------------------------------------------------------------------

.Copyright-Wrap
{
    border-top: 2px solid $Color-Brown-Light;

    @at-root .Copyright
    {
        @extend %Width-Content-No-Padding;

        overflow:  hidden;
        font-size: 13rem;
        padding:   20px 12px;

        @include Adaptive('<tablet')
        {
            text-align: center;
        }

        @include Adaptive('>=desktop')
        {
            padding: 20px 20px 20px 73px;
        }

        span
        {
            color:       $Color-Brown;
            line-height: 25px;

            @include Adaptive('<tablet')
            {
                width:   100%;
                display: block;
                float:   none;
            }
        }

        a
        {
            @extend %Transition-Fast;
            font-weight: 600;
            color:       $Color-Head-Red;
            &:hover
            {
                color: $Color-Brown;
            }

            @include Adaptive('>=tablet')
            {
                float: right;
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------


