.Site-Header
{

    @at-root .Header-Top
    {
        @extend %Width-Content;

        @include Adaptive('<ipad-P')
        {
            padding: 28px 25px;
        }

        @include Adaptive('>=ipad-P')
        {
            overflow: hidden;
            padding:  25px 0;
        }

        div
        {
            vertical-align: middle;
            &:first-of-type
            {
                display: inline-block;
            }
        }

        @at-root .Header-Logo
        {

            @include Adaptive(">=desktop")
            {
                margin-left: 0;
            }

            svg
            {
                width:  250px;
                height: 72px;

                @include Adaptive('<ipad-P')
                {
                    width:  150px;
                    height: 44px;
                }
            }
        }
        @at-root .Header-Info
        {
            display:       none;
            padding-top:   20px;
            padding-right: 15px;
            @include Adaptive('>=ipad-P')
            {
                display:   inline-block;
                float:     right;
                font-size: 0;
            }

            @include Adaptive('>=desktop')
            {
                padding-right: 90px;
            }

            div
            {
                display: inline-block;

                dl
                {
                    display:        inline-block;
                    vertical-align: middle;
                }
                dt
                {
                    line-height: 15rem;
                    font-size:   13rem;
                    font-weight: 600;
                    color:       $Color-First-Header;
                }
            }

            svg
            {
                fill: $C-Secondary;
                display:        inline-block;
                vertical-align: middle;
                width:          36px;
                height:         36px;
                margin-right:   15px;
                margin-left:    15px;
            }

        }

    }
    @at-root .Header-Bottom
    {
        .Basket
        {
            display: block;
            @include Adaptive('>=tablet')
            {
                display: none;
            }
        }
    }
    nav
    {
        @extend %Width-Content;
        overflow:   hidden;
        background: $Color-First-Header url(/img/pic/real_cf.png) center center repeat;
        border-bottom: 2px $C-Secondary;

        @include Adaptive('<ipad-P')
        {
            position:         absolute;
            top:              100px;
            left:             0;
            right:            0;
            background-color: rgba(0, 0, 0, .8);
        }

        @include Adaptive('>=desktop')
        {
            border-top-left-radius:  4px;
            border-top-right-radius: 4px;
        }

        ul
        {
            display:    inline-block;
            text-align: center;
            width:      100%;

            @include Adaptive('>=desktop')
            {
                width: auto;
            }

            li
            {
                @extend %Uppercase;
                display:   inline-block;
                font-size: 14rem;

                @include Adaptive('<ipad-P')
                {
                    display:   block;
                    //text-align: left;
                    font-size: 15rem;
                }
            }
            a
            {
                @extend %Transition-Fast;
                padding: 9px 14px;
                display: block;
                &:hover, &.JS-Current-Link-1
                {
                    @extend %Transition-Fast;
                    color:            #fff;
                    margin:           0;
                    padding:          9px 14px 9px;
                    border-radius:    2px;
                    background-color: $Color-Bg-Red;
                    @include Adaptive('>=desktop')
                    {
                        border-radius: 0;
                    }

                }
            }
        }
        @at-root .Header-Right
        {
            display:        none;
            max-width:      268px;
            margin:         10px auto;
            vertical-align: middle;

            @include Adaptive('>=desktop')
            {
                display: block;
                float:   right;
                margin:  5px 35px 5px 0;
            }

            a
            {
                display: inline-block;
                svg
                {
                    width:  22px;
                    height: 30px;
                }
            }

            @at-root .Header-Search
            {
                position:       relative;
                padding-right:  35px;
                display:        inline-block;
                vertical-align: top;
                input
                {
                    @extend %Input-Base;
                    width:      200px;
                    background: $Color-Input-Bg;
                }

                svg
                {
                    position: absolute;
                    right:    0;
                    top:      1px;
                    width:    26px;
                    height:   29px;
                    cursor:   pointer;
                }

            }
        }

    }
}

nav.JS-Mobile-Menu-List
{
    display: none;
}

.JS-Mobile-Menu-Toggle
{
    @include Adaptive('>ipad-P')
    {
        display: none;
    }
    float:        right;
    margin-top:   -8px;
    margin-right: -15px;
    padding:      15px;
    svg
    {
        width:  30px;
        height: 30px;
        fill:   $C-Secondary;
    }
}
