.View-Image
{
    width:               100%;
    height:              250px;
    background-image:    url('/images/catalog/hit.jpg');

    background-size:     cover;
    background-position: center;

    @include Adaptive('>desktop')
    {
        height: 300px;
    }
}

.View-Slider
{
    position: relative;
    padding:  5px;
    &:hover
    {
        svg
        {
            @extend %Transition-Fill;
            fill: $Color-Bg-Red;
        }
    }
    svg
    {
        @extend %Transition-Fill;
        position: absolute;
        width:    30px;
        height:   30px;
        top:      calc(50% - 15px);
        fill:     black;
        cursor:   pointer;
        z-index:  1;
        &:active
        {
            @extend %Transition-Fill;
            fill: $Color-Bg-Secondary;
        }
    }
    .Hit-Left
    {
        left: -20px;
    }
    .Hit-Right
    {
        right: -20px;
    }

    > div
    {
        position:   relative;
        overflow:   hidden;
        width:      100%;
        text-align: center;
        height:     80px;

        > div
        {
            position:    relative;
            display:     inline-block;
            height:      80px;
            padding:     5px;
            will-change: left, right;
            cursor:      pointer;
            > div
            {
                width:               100%;
                height:              100%;
                background-size:     cover;
                background-position: center;
                background-image:    url('/images/catalog/hit.jpg');
            }
        }
    }
}