.Form
{
	position  : relative;
	max-width : 396px;
	border    : 2px solid $Color-Text-Red;
	padding   : 20px;
	margin    : 0 auto;
	@include Adaptive('>=tablet')
	{
		padding : 30px;
	}
	svg
	{
		position : absolute;
		width    : 10px;
		height   : 10px;
		top      : 0;
		right    : -3px;
		padding  : 8px;
		fill     : $Color-Bg-Red;
		cursor   : pointer;
		@include Adaptive('>=tablet')
		{
			right  : 0;
			width  : 15px;
			height : 15px;
		}

		&:hover
		{
			fill : $Color-Text;
		}
	}
	svg:active
	{
		fill : $Color-Text-Red;
	}

	dt, dd
	{
		@extend %Font-Regular;
		display        : inline-block;
		vertical-align : middle;
		padding-bottom : 15px;
		font-size      : 14rem;
	}

	dl
	{
		font-size     : 0;
		margin-bottom : 8px;
	}
	dt
	{
		width : 35%;
		@include Adaptive('>=nexus-6')
		{
			width : 22%;
		}
	}
	dd
	{
		@extend %Unclickable;
		@extend %Unselectable;
		width : 65%;
		@include Adaptive('>=nexus-6')
		{
			width : 78%;
		}
	}

	input
	{
		@extend %Transition-Std;
		width        : 100%;
		height       : 40px;
		border       : 1px solid $Color-Bg-Secondary;
		padding-left : 15px;
		&:focus
		{
			@extend %Transition-Std;
			border : 1px solid $Color-Text-Red;
		}

	}
	a
	{
		@extend %Button-Wide-Red;
		display    : block;
		text-align : center;
		&:hover
		{
			@extend %Transition-Std;
			background : $Color-Text;
			color      : white;
		}
	}
}