@at-root .Hits
{
    width:      100%;
    position:   relative;
    overflow:   hidden;
    text-align: center;
    &:hover
    {
        svg
        {
            @extend %Transition-Fill;
            fill: $Color-Bg-Red;
        }
    }

    svg
    {
        @extend %Transition-Fill;
        position: absolute;
        top:      calc(50% - 22px);
        width:    42px;
        height:   40px;
        fill:     $Color-Bg-Secondary;
        z-index:  1;
        cursor:   pointer;
    }

    @at-root .Hit-Left
    {
        left: -11px;
    }
    @at-root .Hit-Right
    {
        right: -11px;

    }
    .Hit-Left, .Hit-Right
    {
        &:active
        {
            @extend %Transition-Fill;
            fill: $Color-Bg-Secondary;
        }
    }

}