.Preview
{
    position:      relative;
    margin-bottom: 50px;
    height:        250px;

    @include Adaptive('>=tablet')
    {
        height: 340px;
    }

    @include Adaptive('>=desktop')
    {
        height: 308px;
    }
    .JS-Carousel-List
    {
        height: 100%;
    }

    .JS-Carousel-Item
    {
        @extend %Control-Base;
        position:   absolute;
        width:      100%;
        height:     100%;

        background: url("/img/pic/preview-1.jpg") no-repeat center / cover;

        &:hover
        {
            svg
            {
                @extend %Transition-Fill;
                fill: $Color-Bg-Red;
            }
        }
    }
    svg
    {
        @extend %Transition-Fill;
        position: absolute;
        top:      calc(50% - 22px);
        width:    42px;
        height:   40px;
        fill:     #ecf0f1;
        z-index:  1;
        cursor:   pointer;

    }
    .Preview-Left:active, .Preview-Right:active
    {
        @extend %Transition-Fill;
        fill: $Color-Bg-Secondary;
    }
    @at-root .Preview-Left
    {
        left: -4px;
    }
    @at-root .Preview-Right
    {
        right: -4px;
    }
    ul
    {
        position: absolute;
        bottom:   60px;
        left:     calc(50% - 35px);

    }
    li
    {
        @extend %Form-Circle;
        transition: background-color linear .1s;
        display:    inline-block;
        width:      10px;
        height:     10px;
        border:     1px solid $Color-Footer-Text;
        cursor:     pointer;
        & + li
        {
            margin-left: 5px;
        }
        &:hover
        {
            transition: background-color linear .1s;
            background: rgba(255, 255, 255, 0.5);
        }

    }
    .Active
    {
        transition: background-color linear .1s;
        background: $Color-Footer-Text;
    }
    span
    {
        @extend %Font-Medium;
        position:   absolute;
        display:    block;
        bottom:     0;
        width:      100%;
        font-size:  16rem;
        padding:    10px 14px 12px;
        background: $C-Primary-L;
    }
}