.Sale-Hits
{
    height:     244px;
    position:   relative;
    text-align: center;

    @at-root .Hit
    {
        display:     inline-block;
        padding:     0 10px 40px;
        max-width:   100%;
        width:       100%;
        will-change: left, right;

        @include Adaptive('>=iphone-6')
        {
            width: 48%;
        }


        @include Adaptive('>=tablet')
        {
            width: 33%;
        }

        @include Adaptive('>=desktop')
        {
            width: 24%;
        }

        @at-root .Hit-View
        {
            height:              120px;
            background-size:     cover;
            background-position: center;
            background-color:    #ECF0F1;
        }
        @at-root .Hit-Text
        {
            padding:    18px 0;
            text-align: center;
            height:     90px;
            overflow:   hidden;

            h3
            {
                text-transform: capitalize;
            }

            @at-root .Hit-Price
            {
                @extend %Uppercase;
                @extend %Font-Bold;
                color:       $Color-Text-Red;
                margin-left: 10px;
            }
            @at-root .Hit-Button
            {
                @extend %Button-Wide;
                @extend %Unselectable;
                font-size: 16rem;
                padding:   10px;

            }

        }

    }
}

h2.Hits-Header
{
    @extend %Font-Medium;
    @extend %Uppercase;
    @extend %H2-Special;
    @extend %Unselectable;
    font-size:      20rem;
    text-align:     center;
    text-transform: uppercase;
}

.Hits-Slider
{
    padding: 20px 20px 60px;
}