.Sidebar
{
    float:          left;
    width:          100%;
    font-size:      0;
    padding-bottom: 40px;

    @include Adaptive('>=desktop')
    {
        width: 250px;
    }

    @at-root .Sidebar-Cell
    {
        ul > li
        {
            @extend %Transition-Fast;
            cursor:  pointer;
            display: block;

            &.Active > a
            {
                @extend %Transition-Fast;
                background:  $Color-Brown-Light;
                border-left: 5px solid $Color-Brown;
                color:       black;
            }

            &.Active ol
            {
                display:     block;
                border-left: 5px solid $Color-Brown-Light;
            }
            ol
            {
                display: none;
            }
        }
    }

    @at-root .Sidebar-Cell, .Sidebar-Info
    {
        display:      inline-block;
        width:        100%;


        @include Adaptive('>=desktop')
        {
            display: block;
            width:   100%;
        }

        h3
        {
            @extend %Unselectable;
            @extend %Unclickable;
            padding:    16px 20px 16px;
            display:    block;
            background: $Color-Brown-Light;
            color:      $Color-Brown;
        }

        border-left:  1px solid $Color-Bg-Secondary;
        border-right: 1px solid $Color-Bg-Secondary;
        li
        {
            border-bottom: 1px solid $Color-Brown-Light;
            a
            {
                display: block;
                padding: 13px 0;
            }

            img
            {
                width:          22px;
                margin:         -2px 14px 0 16px;
                vertical-align: middle;
            }

        }

        a
        {
            @extend %Transition-Fast;
            color:   $Color-Paragraph-Text;
            display: inline-block;
            &:hover, &.JS-Current-Link
            {
                @extend %Transition-Fast;
                background-color: $Color-Brown-Light;
                border-left:      5px solid $Color-Brown;
                svg
                {
                    @extend %Transition-Fill;
                    fill: white;
                }
            }
        }

        ol
        {
            li
            {
                a:before
                {
                    content:      "- ";
                    padding-left: 60px;
                }
                &:first-of-type
                {
                    border-top: 1px solid $Color-Bg-Secondary;
                }
                &:last-of-type
                {
                    border-bottom: none;
                }
            }
        }
    }
    @at-root .Sidebar-Info
    {
        margin-top: 50px;

        @include Adaptive('>=desktop')
        {
            margin-top:  50px;
            margin-left: 0;
        }

        svg
        {
            @extend %Transition-Fill;
            width:          18px;
            height:         18px;
            vertical-align: middle;
            margin:         0 14px 0 16px;
            fill:           $Color-Brown-Light;
        }

    }
}

.Sidebar-Clients
{
    border: 1px solid #f0eee8;

    a
    {
        width: 100%;
        border-bottom: 1px solid #f0eee8;
        &:hover
        {
            border-left: none;
        }
    }

    img
    {
        width: 100%;

    }

    h4
    {
        font-size:   16rem;
        font-weight: bold;
        padding:     15px 15px 5px;
        color:       #38322f;
    }

    h5
    {
        font-size:   16rem;
        font-weight: bold;
        padding:     15px;
        color:       #38322f;
    }

    p
    {
        padding:     0 15px 15px;
        line-height: 16px;
        font-size:   14rem;
    }
}

.FAQ a
{
    &:hover
    {
        border-left: 5px solid #111 !important;
    }
}