.JS-Window-Blackout
{
    visibility:       hidden;
    position:         fixed;
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    width:            100%;
    height:           100%;

    background-color: rgba(0, 0, 0, .3);
    transition:       all 0.7s ease;
    perspective:      3000px;

    .JS-Window
    {
        visibility:       hidden;
        position:         absolute;
        overflow-y:       auto;
        overflow-x:       hidden;
        width:            100%;
        height:           100%;
        top:              0;
        bottom:           0;
        left:             0;
        right:            0;

        box-sizing:       border-box;

        margin:           0 auto;
        padding:          0px;

        transition:       all 0.7s ease;
        transform:        rotateX(90deg);

        @include Adaptive('>=tablet')
        {
            width:  70%;
            height: 70%;

            top:    15%;
            bottom: 15%;
            left:   15%;
            right:  15%;
        }

        @include Adaptive('>ipad-P')
        {
            padding: 0px;
        }

        .JS-Window-Close
        {
            position:  absolute;
            width:     25px;
            top:       20px;
            right:     30px;
            font-size: 36px;
            cursor:    pointer;
            z-index:   100;
            color: #EEEEEE;
            @include Adaptive('>tablet'){
                top:       10px;
                right:     10px;
            }
        }
    }

    &.Visible
    {
        visibility: visible;
        opacity:    1;

        .JS-Window
        {
            visibility: visible;
            opacity:    1;
            transform:  rotateX(0deg);
            transition: all 0.7s ease;
        }
    }
}

.JS-Carousel-Window
{
    height: 100%;
    .JS-Carousel-List
    {
        height:   100%;
        overflow: hidden;
        .JS-Carousel-Item
        {
            height:              100%;
            background-repeat:   no-repeat;
            background-position: center;
            background-size:     contain;
        }
    }
}
